html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    color: white;
    background-color: black; 
}

h2 {
    font-size: 35px;
}

h4 {
    font-size: 25px
}

.intro-text-container {
    padding:50px 0 15px 0;
}

.choices-container {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 40px;
}


.choice-image {
    height: 270px;
    width: 360px;
    border-radius: 15px;
}

.score-informational {
    font-size: 25px;
    padding: 0 25px;
}

.footer {
    font-size: 25px;
    height: 75px;
}

.footer a {
    text-decoration: none;
    color: white;
}

@media only screen and (max-width: 1000px) {
    .choice-image {
        height: 140px;
        width: 185px;
        border-radius: 15px;
    }
}
